@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: url("./assets/fonts/SuisseIntlTrial-Regular.woff2");
}

@font-face {
  font-family: "suiss-medium";
  src: url("./assets/fonts/SuisseIntlTrial-Medium.woff2");
}

@layer base {
  html {
    font-size: 62.5%;
  }
}

body {
  @apply font-regular;
}
